@media (max-width: 800px) {
    .AboutPage {
        margin-top: 70px;

        .aboutText {
            padding: 10px 0 20px 0;
            text-align: justify;
            font-size: 1.1rem;
            font-weight: 600;
            color: var(--purple);
            font-family: 'Delius', cursive;
        }
    }
}